@model Models.Class.SchedulerStatusViewModel


@Html.Partial("_PageTitle")
<div>
    <div class="container-fluid">
        <div class="main-content">
            <div class="col-md-12 no-gutter">
                <div class="row">
                    @Html.LabelFor(model => model.IsSchedulerActive, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label", @style = "text-align:right" })
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        @Html.TextBoxFor(model => model.IsSchedulerActive, new { @class = "form-control", @readonly = "readonly" })
                    </div>

                    @Html.LabelFor(model => model.ScheduledTaskNumber, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label col-md-1-offset col-sm-1-offset", @style = "text-align:right" })
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        @Html.TextBoxFor(model => model.ScheduledTaskNumber, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:40px">
                    @if (Model.RevaleeTasksScheduled != null)
                    {

                        <div class="table-responsive">
                            <h4>[[[Recurring Scheduled Tasks]]]</h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Url</th>
                                        <th>[[[Periodicity]]]</th>
                                        <th>[[[Schedule Time]]]</th>
                                    </tr>
                                </thead>

                                @foreach (var item in Model.RevaleeTasksScheduled)
                                {

                                    <tr>
                                        <td>@item.Url</td>
                                        <td>@item.Periodicity</td>
                                        <td>@item.HourOffset:@item.MinuteOffset</td>
                                    </tr>
                                }

                            </table>
                        </div>

                    }
                </div>

                <div class="row"  style="margin-top:40px">
                    <div class="col-xs-12 col-md-4 col-md-offset-4" style="margin-top:30px">
                        <input id="SearchBox" type="text" style="width:93% !important;height:30px !important;display:inline" class="form-control" />
                        <a style="margin-left:5px;" role="button" aria-haspopup="true" aria-expanded="false" title="Refresh logs" id="SearchIcon" onclick="RefreshData(true)"><span class="glyphicon glyphicon-search"></span></a>
                    </div>
                </div>
                <div id="targetContainer" style="padding-top:15px">

                </div>

            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/Views/Admin/Tasks.js?@Commons.StaticFileVersion.StaticFileVersionString"></script>

}

