@model Models.ViewModels.Account.ForgotPasswordViewModel

@using Website.ContentFileHelper;


@Html.CssImportContent("~/Content/Views/Account/_ForgotPassword.css")

<div style="position: relative;top:-20px;">
    <span class="SignUpmodalGoBackBtns ColorWebsite" id="GoBackToLogInBtn">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> [[[back]]]
    </span>
</div>
<div class="area-container row" style="padding-top:30px;padding-bottom:50px;">

    @using (Ajax.BeginForm("_ForgotPasswordForm", "Account", new { }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "handleForgotPasswordBegin", OnSuccess = "ForgotPasswordSuccess", OnFailure = "ForgotPasswordFailure" }, new { @id = "ForgotPasswordModalForm" }))
    {

        <div class="col-md-10 col-xs-12 col-md-offset-1" id="DivFormForgotPassword">
            @Html.AntiForgeryToken()
            <div class="col-md-12 col-xs-12" style="margin-bottom:40px;">
                <p class="IndicationTxt">[[[Enter your username and we’ll send you an email with a link to reset your password.]]]</p>
            </div>

            <div class="sexyTBgroup col-md-12 col-xs-12  websiteFormGroupShort">
                @Html.TextBoxFor(model => model.UserName, new { @class = "sexyTB" })
                <label class="labelSexyTb">@Html.DisplayNameFor(m => m.UserName)</label>
                <i class="fa fa-envelope SexyField-iconsSmall" aria-hidden="true"></i>
                @Html.ValidationMessageFor(m => m.UserName)
                @Html.ValidationSummary(true, null, new { @class = "text-danger" })
                <div id="ErrorForgotPasswordForm" class="text-danger"></div>
            </div>
            <div class="col-md-10 col-md-offset-1 col-xs-offset-0 col-xs-12" style="padding-top:25px;margin-bottom:10px;">
                <input type="submit" value="[[[Continue]]]" class="btn website-btn " />
            </div>

        </div>


    }

    <div id="DivConfirmationForgotPassword" class="col-md-10 col-xs-12 col-md-offset-1" style="display:none;">
        <div class="center-txt IndicationTxt" id="divMailSentoTo">
            [[[An email has been set to ]]]
        </div>
        <div class="center-txt IndicationTxt" style="padding:10px 0px;">
            [[[Tap the link in this email in order to reset your password.]]]
        </div>


        <div style="text-align:center;padding-bottom:25px;" class="col-xs-12 col-md-12">
            <i class="fa fa-envelope fa-5 WarningMailSentFA" aria-hidden="true"></i>
        </div>
    </div>
</div>
@Html.ScriptImportContent("~/Scripts/Views/Account/ForgotPassword.js")






