@model Models.ViewModels.SignUpViewModel

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <h1>[[[To create a new account, please log out first.]]]</h1>
}
else
{

    using (Ajax.BeginForm("_SignUpForm", "Account", new { }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "handleSignUpBegin", OnSuccess = "SignUpSuccess", OnFailure = "SignUpFailure" }, new { @id = "SignUpForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">

            <div class="col-xs-12 col-md-12">

                <div class="col-xs-12 col-md-12">
                    <div class="websiteFormGroup">
                        <div class="col-sm-12 col-xs-12">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "[[[Email]]]" })
                            <i class="fa fa-envelope includeFAIcon" aria-hidden="true"></i>
                            @Html.ValidationMessageFor(m => m.Email)
                            <div id="ErrorSignUpForm" class="text-danger"></div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <div class="websiteFormGroup">
                        <div class="col-sm-12 col-xs-12">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "[[[First Name]]]" })
                            <i class="fa fa-user includeFAIcon" aria-hidden="true"></i>
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <div class="websiteFormGroup">
                        <div class="col-sm-12 col-xs-12">
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "[[[Last Name]]]" })
                            <i class="fa fa-user includeFAIcon" aria-hidden="true"></i>
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12">
                    <div class="websiteFormGroup">
                        <div class="col-sm-12 col-xs-12">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "[[[Password]]]", @id= "PasswordToCheck" })
                            <i class="fa fa-lock includeFAIcon" aria-hidden="true"></i>
                            @Html.ValidationMessageFor(m => m.Password)
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    @Html.Partial("_PasswordPolicy")
                </div>


                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <input type="submit" disabled value="[[[Create]]]" class="btn website-btn PasswordButton" disabled id="SubmitButtonSignUp" />
                </div>

                <div class="col-xs-12 col-md-12" id="div_SignUpFormLinks" style="display:none">
                    <div style="margin-top:12px">
                        <div class="col-sm-12 col-xs-12">
                            @Html.Partial("_SignUpFormLinks")
                        </div>
                    </div>
                </div>
            </div>


        </div>
    }

}

<script src="~/Scripts/Views/Account/_SignUp.js?@Commons.StaticFileVersion.StaticFileVersionString"></script>