@model Models.ViewModels.SignUpViewModel

<link href="~/Content/Views/Account/_SignUp.css?@CommonsConst.StaticFileVersion.StaticFileVersionString" rel="stylesheet" />



@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <h1>[[[To create a new account, please log out first.]]]</h1>
}
else
{
    <div class="area-container" id="SignUpChoice" style="margin-top:30px;margin-bottom:20px;">
        <div class="col-md-10 col-xs-12 col-md-offset-1">
            <input type="submit" class="square-btn square-inverse" value="[[[Sign Up With Email]]]" style="width:100% !important;" id="SignUpWithEmail" />
        </div>
        @Html.Partial("~/Views/Account/_ExternalSignUp.cshtml")

        <div class="center-txt col-md-10 col-xs-12 col-md-offset-1" style="margin-top:25px;margin-bottom:20px;">
            @Html.Partial("_SignUpFormLinks")
        </div>
    </div>
    <div class="area-container" id="SignUpFormDiv" style="margin-top:30px;margin-bottom:20px;">
        <div style="position: relative;">
            <span class="SignUpmodalGoBackBtns ColorWebsite" id="GoBackToSignUpChoiceBtn">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> [[[back]]]
            </span>
        </div>
        @using (Ajax.BeginForm("_SignUpForm", "Account", new { }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "handleSignUpBegin", OnSuccess = "SignUpSuccess", OnFailure = "SignUpFailure" }, new { @id = "SignUpForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">

                <div class="col-xs-12 col-md-12">

                    <div class="sexyTBgroup col-md-10 col-xs-12 col-md-offset-1 websiteFormGroup">
                        @Html.TextBoxFor(model => model.Email, new { @class = "sexyTB", @id = "EmailSignUp" })
                        <label class="labelSexyTb">@Html.DisplayNameFor(m => m.Email)</label>
                        <i class="fa fa-envelope SexyField-iconsSmall" aria-hidden="true"></i>
                        @Html.ValidationMessageFor(m => m.Email)
                        <div id="ErrorSignUpForm" class="text-danger"></div>
                    </div>
                    <div class="sexyTBgroup col-md-10 col-xs-12 col-md-offset-1 websiteFormGroup">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "sexyTB" })
                        <label class="labelSexyTb">@Html.DisplayNameFor(m => m.FirstName)</label>
                        <i class="fa fa-user SexyField-icons" aria-hidden="true"></i>
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>

                    <div class="sexyTBgroup col-md-10 col-xs-12 col-md-offset-1 websiteFormGroup">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "sexyTB" })
                        <label class="labelSexyTb">@Html.DisplayNameFor(m => m.LastName)</label>
                        <i class="fa fa-user SexyField-icons" aria-hidden="true"></i>
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>

                    <div class="sexyTBgroup col-md-10 col-xs-12 col-md-offset-1 websiteFormGroup">
                        @Html.PasswordFor(model => model.Password, new { @class = "sexyTB", @id = "PasswordToCheck" })
                        <label class="labelSexyTb">@Html.DisplayNameFor(m => m.Password)</label>
                        <i class="fa fa-lock SexyField-icons" aria-hidden="true"></i>
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>


                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        @Html.Partial("_PasswordPolicy")
                    </div>

                    <div class="sexyTBgroup col-md-10 col-xs-12 col-md-offset-1 iAgreeTxt">
                        [[[By clicking Sign Up, I agree to our <a href="Account/TermsAndConditions" target="_blank">Terms of Service</a> and <a class="anti-old-a" href="Account/PrivacyPolicy" target="_blank">Privacy Policy</a>.]]]
                    </div>



                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <input type="submit" disabled value="[[[Create]]]" class="btn website-btn PasswordButton" disabled id="SubmitButtonSignUp" />
                    </div>

                    <div class="col-xs-12 col-md-12" id="div_SignUpFormLinks" style="display:none">
                        <div style="margin-top:12px">
                            <div class="col-sm-12 col-xs-12">
                                @Html.Partial("_SignUpFormLinks")
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }
    </div>
}

<script src="~/Scripts/Views/Account/_SignUp.js?@CommonsConst.StaticFileVersion.StaticFileVersionString"></script>
