@model Models.ViewModels.Account.ChangePasswordViewModel

@Html.Partial("_PageTitle")



<div class="col-md-8 col-xs-12 col-md-offset-2" style="padding-top:60px;">

    @using (Ajax.BeginForm("ChangePassword", "Account", new { }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "handleChangePasswordBegin", OnSuccess = "ChangePasswordSuccess", OnFailure = "ChangePasswordFailure" }, new { @id = "ChangePasswordForm" }))
    {

    <div class="col-md-10 col-xs-12 col-md-offset-1" id="DivFormChangePassword">
        @Html.AntiForgeryToken()

        <div class="sexyTBgroup col-md-6 col-md-offset-3 col-xs-12 websiteFormGroupShort">
            @Html.PasswordFor(model => model.OldPassword, new { @class = "sexyTB" })
            <label class="labelSexyTb">@Html.DisplayNameFor(m => m.OldPassword)</label>
            <i class="fa fa-lock SexyField-iconsSmall" aria-hidden="true"></i>
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="sexyTBgroup col-md-6 col-md-offset-3 col-xs-12 websiteFormGroup">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "sexyTB PasswordToCheck", @id = "PasswordToChange" })
            <label class="labelSexyTb">@Html.DisplayNameFor(m => m.NewPassword)</label>
            <i class="fa fa-lock SexyField-iconsSmall" aria-hidden="true"></i>
            @Html.ValidationMessageFor(m => m.NewPassword)
            @Html.ValidationSummary(true, null, new { @class = "text-danger" })
            <div id="ErrorChangePasswordForm" class="text-danger"></div>
        </div>
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            @Html.Partial("_PasswordPolicy")
        </div>
        <div class="col-md-6 col-md-offset-3 col-xs-12" style="padding-top:25px">
            <input type="submit" value="[[[Change]]]" class="btn website-btn PasswordButton" disabled />
        </div>

    </div>


    }

</div>
@section scripts {
    @Html.ScriptImportContent("~/Scripts/Views/Account/ChangePassword.js")
}




