@model Models.ViewModels.Account.ResetPasswordViewModel

@Html.Partial("_PageTitle")



<div class="col-md-12 col-xs-12 divMaxLengthWrap" style="padding-top:50px;">
    <div class="mainDivContent" >
        <div class="col-md-12 col-xs-12 alignLeft">

            @using (Ajax.BeginForm("ResetPassword", "Account", new { }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "handleResetPasswordBegin", OnSuccess = "ResetPasswordSuccess", OnFailure = "ResetPasswordFailure" }, new { @id = "ResetPasswordForm" }))
            {


                @Html.AntiForgeryToken()
                <div class="col-md-12 col-xs-12" style="margin-bottom:40px;">
                    <p class="IndicationTxt">[[[Please enter a new password to complete your password reset.]]]</p>
                </div>

                    <div class="sexyTBgroup col-md-12 col-xs-12 websiteFormGroupShort">
                        @Html.PasswordFor(model => model.Password, new { @class = "sexyTB PasswordToCheck", @id = "PasswordToReset" })
                        <label class="labelSexyTb">@Html.DisplayNameFor(m => m.Password)</label>
                        <i class="fa fa-lock SexyField-iconsSmall" aria-hidden="true"></i>
                        @Html.ValidationMessageFor(m => m.Password)
                        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
                        <div id="ErrorResetPasswordForm" class="text-danger"></div>
                    </div>
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        @Html.Partial("_PasswordPolicy")
                    </div>
                    <div class="col-md-12 col-xs-12" style="padding-top:25px">
                        <input type="submit" value="[[[Continue]]]" class="btn website-btn PasswordButton" disabled />
                    </div>

            }

        </div>
    </div>
</div>
@section scripts {
    @Html.ScriptImportContent("~/Scripts/Views/Account/ResetPassword.js")
}




