@model Models.ViewModels.ResetPasswordViewModel

@Html.Partial("_PageTitle")



<div class="col-md-8 col-xs-12 col-md-offset-2" style="padding-top:50px;">

    @using (Ajax.BeginForm("ResetPassword", "Account", new { }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "handleResetPasswordBegin", OnSuccess = "ResetPasswordSuccess", OnFailure = "ResetPasswordFailure" }, new { @id = "ResetPasswordForm" }))
    {

        <div class="col-md-10 col-xs-12 col-md-offset-1" id="DivFormResetPassword">
            @Html.AntiForgeryToken()
            <div class="col-md-12 col-xs-12" style="margin-bottom:40px;">
                <p class="IndicationTxt">[[[Please enter a new password to complete your password reset.]]]</p>
            </div>

            <div class="sexyTBgroup col-md-6 col-md-offset-3 col-xs-12 websiteFormGroupShort">
                @Html.PasswordFor(model => model.Password, new { @class = "sexyTB PasswordToCheck", @id = "PasswordToReset" })
                <label class="labelSexyTb">@Html.DisplayNameFor(m => m.Password)</label>
                <i class="fa fa-lock SexyField-iconsSmall" aria-hidden="true"></i>
                @Html.ValidationMessageFor(m => m.Password)
                @Html.ValidationSummary(true, null, new { @class = "text-danger" })
                <div id="ErrorResetPasswordForm" class="text-danger"></div>
            </div>
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                @Html.Partial("_PasswordPolicy")
            </div>
            <div class="col-md-6 col-md-offset-3 col-xs-12" style="padding-top:25px">
                <input type="submit" value="[[[Continue]]]" class="btn website-btn PasswordButton" disabled />
            </div>

        </div>


    }

</div>
@section scripts {
    <script src="~/Scripts/Views/Account/ResetPassword.js?@CommonsConst.StaticFileVersion.StaticFileVersionString"></script>
}




