@model Models.ViewModels.HeaderViewModel
@using Microsoft.AspNet.Identity

<header class="sub-nav">
    @Html.Hidden("CentralGoToUrl")
    <nav class="navbar navbar-default navigation" id="homeNavDefault">
        @Html.Partial("~/Views/Shared/Layout/_BrowserBanner.cshtml")
        <div class="container-fluid">
            <div class="collapse navbar-collapse navigationLink" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left" id="Logo">
                    <li class="dropdown">
                        <a href="/">
                            <img class="brand-logoNav" src="~/Ressources/Files/Images/Logo.png" style="z-index:100 !important" />
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="ulForHomeControl">

                    @if(Request.IsAuthenticated && User.IsInRole(CommonsConst.UserRoles.Admin))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[[Admin]]]</a>
                            <ul class="dropdown-menu">
                                <li><a href="/Admin/Logs">[[[Logs]]]</a></li>
                                <li><a href="/Admin/EmailAudits">[[[Email Audits]]]</a></li>
                                <li><a href="/Admin/News">[[[News]]]</a></li>
                                <li><a href="/Admin/Tasks">[[[Tasks]]]</a></li>
                                <li><a href="/Admin/Users">[[[Users]]]</a></li>
                            </ul>
                        </li>
                    }

                    @if (CommonsConst.Const.UserManagement)
                    {
                        if (Request.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="/User/Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Model.UserFirstName <span class="glyphicon glyphicon-user user-icon-span"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Account">@Model.UserNameDecrypt</a></li>
                                    @using (Ajax.BeginForm("LogOff", "Account", new { }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "LogOffBegin", OnSuccess = "LogOffSuccess", OnFailure = "LogOffFailure" }, new { @id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                    }
                                    <li><a href="/Account/Manage">[[[Change Password]]]</a></li>
                                    <li><a id="LinkLogOff">[[[Log Off]]]</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            @Html.Partial("~/Views/Account/_LoginOrSignInModal.cshtml")
                            //reason: only when the page is NOT the old login/sign up pages, then we render v2 login modal. Otherwise, the login page and the login modal partial will use AccountController and AccountV2Controller, BOTH  of which depend on UserManager. The AccountController disposes of the UserManager object before AccountV2Controller could use it. Error msg is like `...use of a disposed object...`
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>


<link href="~/Content/Views/Shared/_Header.css" rel="stylesheet" />
<script src="~/Scripts/Views/Shared/_Header.js"></script>