@using System.Web.Optimization;
<!DOCTYPE html>

<html>
<head>
    @Html.Partial("~/Views/Shared/Layout/_MetaTags.cshtml")
    <title>@Commons.Const.WebsiteTitle</title>
    <link rel="shortcut icon" href="@Url.Content("~/Ressources/Files/Images/icone.ico")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/Ressources/Files/Images/icone.ico")" type="image/x-icon">

    @Styles.Render("~/bundles/Bootstrap")
    @Styles.Render("~/bundles/Style")
    @Scripts.Render("~/Scripts/JQuery")

</head>
<body>
    @Html.Action("_Header", "Home")
    <div style="min-height:70vh;">
        @RenderBody()
    </div>
    @Scripts.Render("~/Scripts/ScriptsErrors")
    @Scripts.Render("~/Scripts/Scripts")
    @Html.Partial("~/Views/Shared/Layout/_Footer.cshtml")
    @Html.Partial("~/Views/Shared/Layout/_PartialBackToTop.cshtml")
    @Html.Partial("~/Views/Shared/Layout/_Spinner.cshtml")
    @Html.Partial("~/Views/Shared/Layout/_GoogleAnalytics.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>
