@using System.Web.Optimization;
<!DOCTYPE html>

<html>
<head>
    @Html.Partial("~/Views/Shared/Layout/_MetaTags.cshtml")
    <title>@Commons.Const.WebsiteTitle</title>
    <link rel="shortcut icon" href="@Url.Content("~/Ressources/Files/Images/icone.ico")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/Ressources/Files/Images/icone.ico")" type="image/x-icon">

    @Styles.Render("~/bundles/Bootstrap")
    @Styles.Render("~/bundles/Style")
    @Styles.Render("~/bundles/less")
    @Scripts.Render("~/Scripts/JQuery")
    @Scripts.Render("~/Scripts/ScriptsErrors")


</head>
<body>
    <div id="divHeader">
        @Html.Action("_Header", "Home")
        <div id="VideoHomePageDiv" style="display:none">
            @Html.Partial("~/Views/Home/_VideoHomePage.cshtml")
        </div>
        
    </div>
    <div style="min-height:74vh;">
        @RenderBody()
    </div>
    @Scripts.Render("~/Scripts/Scripts")
    @Html.Partial("~/Views/Shared/Layout/_Footer.cshtml")
    @Html.Partial("~/Views/Shared/Layout/_PartialBackToTop.cshtml")
    @Html.Partial("~/Views/Shared/Layout/_Spinner.cshtml")
    @Html.Partial("~/Views/Shared/Layout/_GoogleAnalytics.cshtml")
    @Html.Partial("~/Views/Shared/Layout/_FacebookPixel.cshtml")
    @Html.Partial("~/Views/Shared/Layout/_Audio.cshtml")
    @Html.Partial("~/Views/Shared/Layout/_FileForm.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>
