@model Models.ViewModels.Admin.News.NewsEditViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">

@Html.CssImportContent("~/Areas/Admin/Content/News/Edit.css")

@Html.Partial("_PageTitle")
<div>

    <div class="main-content">
        <div class="col-md-12" style="padding-bottom:40px;">
            <div class="col-md-8 col-md-offset-2 col-xs-12 row">
                <form id="EditNewsForm" class="sexyForm" action="/Admin/News/EditNews">

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.LastModificationUserId)
                    @Html.HiddenFor(m => m.ScheduledTaskId)
                    @Html.HiddenFor(m => m.HasScheduledTaskBeenExecuted)

                    <div class="websiteFormGroup col-md-10 col-xs-12 col-md-offset-1">
                        <a href="/Admin/News" id="BackToList" class="applicationLink">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            [[[Go back to the list]]]
                        </a>

                    </div>




                    <div class="sexyTBgroup col-md-10 col-xs-12 col-md-offset-1 websiteFormGroup">
                        @Html.TextBoxFor(model => model.NewsTitle, new { @class = "sexyTB" })
                        <label class="labelSexyTb">@Html.DisplayNameFor(m => m.NewsTitle)</label>
                        <i class="fa fa-newspaper-o SexyField-icons" aria-hidden="true"></i>
                        @Html.ValidationMessageFor(m => m.NewsTitle)
                    </div>

                    <div class="sexyTBgroup col-md-10 col-xs-12 col-md-offset-1 websiteFormGroup">
                        @Html.TextBoxFor(model => model.PublishDate, new { @class = "sexyTB DateTimeField" })
                        <label class="labelSexyTb">@Html.DisplayNameFor(m => m.PublishDate)</label>
                        <i class="fa fa-calendar-o SexyField-icons" aria-hidden="true"></i>
                        @Html.ValidationMessageFor(m => m.PublishDate)
                    </div>



                    <div class="col-md-10 col-xs-12 col-md-offset-1 websiteFormGroup">
                        <div class="select">
                            @Html.DropDownListFor(model => model.TypeId, new SelectList(Model.NewsTypeList, "Id", "Name"), "--- [[[Select a Type]]] ---", new { @class = "select-text" })
                            <span class="select-label">@Html.DisplayNameFor(m => m.TypeId)</span>
                        </div>
                        @Html.ValidationMessageFor(m => m.TypeId)

                    </div>


                    <div class="col-md-10 col-xs-12 col-md-offset-1 websiteFormGroup" style="padding-bottom:25px;">
                        <div class="col-md-12 col-xs-12 noMarginNoPaddingHorizontal">
                            @Html.LabelFor(model => model.NewsDescription, htmlAttributes: new { @class = "control-label" })
                            <a id="MailPreview" style="padding-right:20px;font-size:16px;cursor:pointer;" class="pull-right RelatedToNewsMail applicationLink"><span class="glyphicon glyphicon-envelope" style="margin-right:6px;"></span>[[[Mail Preview]]]</a>
                        </div>
                        <div class="col-md-12 col-xs-12 noMarginNoPaddingHorizontal">
                            @Html.TextAreaFor(m => Model.NewsDescription, new { @class = "form-control summernote input-lg" })
                            @Html.ValidationMessageFor(m => m.NewsDescription)
                        </div>

                    </div>

                    <div class="col-md-10 col-xs-12 col-md-offset-1 websiteFormGroup RelatedToNewsMail">
                        <div class="select">
                            @Html.DropDownListFor(model => model.TypeUserMailingId, new SelectList(Model.TypeUserMailingList, "Id", "Name"), "--- [[[Select a User Mailing Type]]] ---", new { @class = "select-text" })
                            <span class="select-label">@Html.DisplayNameFor(m => m.TypeUserMailingId)</span>
                        </div>
                        @Html.ValidationMessageFor(m => m.TypeUserMailingId)

                    </div>

                    <div class="sexyTBgroup col-md-10 col-xs-12 col-md-offset-1 websiteFormGroup RelatedToNewsMail">
                        @Html.TextBoxFor(model => model.MailSubject, new { @class = "sexyTB" })
                        <label class="labelSexyTb">@Html.DisplayNameFor(m => m.MailSubject)</label>
                        <i class="fa fa-envelope-o SexyField-icons" aria-hidden="true"></i>
                        @Html.ValidationMessageFor(m => m.MailSubject)
                    </div>

                    <div class="col-md-10 col-xs-12 col-md-offset-1 websiteFormGroup">

                        @Html.CheckBoxFor(m => m.Active, new { @class = "styled-checkbox" })
                        <label for="Active" class="LabelStyled-checkbox">@Html.DisplayNameFor(m => m.Active)</label>
                        @Html.ValidationMessageFor(m => m.Active)
                    </div>






                    <div class="col-md-4 col-md-offset-4 col-xs-12">
                        <input type="submit" value="[[[Save]]]" class="btn website-btn" id="SubmitNews" />
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>



<div class="modal fade" id="PreviewMailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialogPreviewMail" role="document">
        <div class="modal-content">
            <div id="PreviewMailModalContent" class="modal-body">
                <div style="position: relative; height: 1px;">
                    <button id="PreviewMailModalModal" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div id="_PreviewMailModalDiv">
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    @Html.ScriptImportContent("~/Areas/Admin/Scripts/Views/News/EditNews.js")
}

